
#about .nav-tabs{
    border: none !important;
}

#about .nav .icone i{
    font-size: 60px !important;
    margin-top: 40px !important;
}

#about button .active{
    color: black !important;
}

#about .bi-check2-all{
    color: orangered;
}

#about .bg-dark{
    background-color: #1d1f28 !important;
}

@media screen and (max-width: 768px){
    .text{
        display: none !important;
    }
}

/*---------------- fin de la section about ----------------*/


/* services section */
#service .BORDERS h2::after{
    content: '';
    width: 120px;
    height: 1px;
    background-color: orangered;
    display: inline-block;
    margin: 6px  10px;
}

#service a{
    text-decoration: none;
}

#service .card i{
    font-size: 65px;
}
/* fin de la section Services */
